body {
font-family: Arial, sans-serif;
  background: linear-gradient(300deg, #ff0000 50%, #ffffff 50%);
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
    background: #3b4cca;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #2a35a0;
}

#erro {
    color: red;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

img {
    width: 60px;
}
.pokebola-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.pokebola-btn img {
  width: 25px;
  transition: transform 0.2s;
}

.pokebola-btn img:hover {
  transform: scale(1.2) rotate(10deg);
}
.header img {
  width: 80px;
}